@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Welcome @ViewBag.User.UserName</h2>
    <img src="images/@ViewBag.User.Image"  style="width:120px;height:120px;border-radius:50%;"  />
</div>